# Node
node_modules
bridge/node_modules

# Python
__pycache__
*.pyc
*.egg-info/
.eggs/
build/
dist/
pip-wheel-metadata/
core/.venv
core/.pytest_cache
core/.ruff_cache

# IDE
.vscode
.idea
/core/uv.lock
%TEMP%/
